-e git+https://github.com/textX-tools/Arpeggio.git#egg=Arpeggio
-e git+https://github.com/textX-tools/textX.git#egg=textX
funcsigs==1.0.2
Jinja2==2.9.6
json-rpc==1.10.3
jsonrpcserver==3.5.1
jsonschema==2.6.0
MarkupSafe==1.0
six==1.11.0
websockets==3.4
